<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta codigosecreto="1935806749">
	<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}">
	<link rel="stylesheet" th:href="@{/assets/w3.css}">
	<link rel="stylesheet" th:href="@{/assets/pico.min.css}">
	<title> PWeb - by ARTHUR MADSON </title>

</head>

<body>

	<div class="w3-bar w3-black w3-xlarge">
		<a href="/" class=" w3-bar-item w3-button w3-mobile w3-red"> Início </a>
		<a href="/adicionarPessoa.html" class=" w3-bar-item w3-button w3-mobile"> Adicionar pessoa </a>
		<a href="/listarPessoas.html" class=" w3-bar-item w3-button w3-mobile"> Listar pessoas </a>
		<a href="/public/contato.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Contato </a>
		<a href="/public/sobre.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Sobre o site </a>
		<a href="/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-right"> Noticías </a>
	</div>

	<div style="text-align: center;">

		<h1> Hidrate-se! </h1>
		<figure style="text-align:center;">
			<img src="assets/agua.jpg" alt="Um copo de Água." title="Agua!" />

	</div>

</body>

</html>