<!-- O nome desse arquivo está errado -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Falta mudar para o seu nome-->	
	<!-- Falta o favicon -->
	<!-- Esses links devem ser locais, de arquivos da pasta assets, e não das CDNs -->
	<meta codigoSecreto = "350771480"> 
	<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}">
	<link rel="stylesheet" th:href="@{/assets/w3.css}">
	<link rel="stylesheet" th:href="@{/assets/pico.min.css}">
	<title>PWeb - by Arthur Madson</title>
	<link rel="stylesheet" type="text/css" href="../static/assets/w3.css">
	<link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
	<!-- Esse tipo de referência absoluta não funciona quado usado servidor -->
</head>

<body>

	<div class="w3-bar w3-black w3-xlarge">
		<a href="index.html"class="w3-bar-item w3-button w3-mobile w3-red"> Início </a>
		<a href="adicionarPessoa.html" class=" w3-bar-item w3-button w3-mobile"> Adicionar pessoa </a>
		<a href="listarPessoas.html" class=" w3-bar-item w3-button w3-mobile"> Listar pessoas </a>
		<a href="../static/public/contato.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Contato </a>
		<a href="../static/public/sobre.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Sobre o site </a>
		<a href="../static/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-right"> Noticías </a>
	</div>
	<h1>Formulário para adicionar pessoas:</h1>

	<form name="formulario1" action="adicionarPessoa" method="GET">

		<label id="nome1">Seu nomezinho*:</label>
		<input type="text" placeholder="Nome Completo" id="nome" required>
		<label id="email1">e-Mail*:</label>
		<input type="text" placeholder="nome@dominio.com" id="email" required>
		<label id="data1"> Data de Nascimento*: </label>
		<input type="date" placeholder="dd/mm/aa" id="data" required>
		<label id="texto"> Nunca divulgaremos :) </label>

		<div id="for1">

			<label>Gênero*</label>
			<input type="radio" name="genero" required> Masculino
			<br>
			<input type="radio" name="genero" required> Feminino
			<br>
			<input type="radio" name="genero" required> Não informar
			<br>
			<br>
			<input type="submit" value="Adicionar!" id="enviar">
			<input type="reset" value="Limpar" id="reset1">
			<br>
			<label> * Campo obrigatório </label>

		</div>

	</form>

</body>

</html>
