<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PWeb - by Arthur Madson</title>
	<link rel="stylesheet" href="C:\pweb_2021.2_ArthurMadson\pweb_2021.2_ArthurMadson\u1_exercicio3\src\main\resources\static\assets\agua.jpg">
	<link rel="stylesheet" href="C:\pweb_2021.2_ArthurMadson\pweb_2021.2_ArthurMadson\u1_exercicio3\src\main\resources\static\assets\favicon.ico">
	<link rel="stylesheet" href="C:\pweb_2021.2_ArthurMadson\pweb_2021.2_ArthurMadson\u1_exercicio3\src\main\resources\static\assets\pico.min.css">
	<link rel="stylesheet" href="C:\pweb_2021.2_ArthurMadson\pweb_2021.2_ArthurMadson\u1_exercicio3\src\main\resources\static\assets\w3.css">

	<style type="text/css">
		#lista {
			text-align: center
		}
	</style>


</head>

<body>

	<div class="w3-bar w3-black w3-xlarge">
		<a href="index.html" class=" w3-bar-item w3-button w3-mobile"> Início </a>
		<a href="adicionarPessoa.html" class=" w3-bar-item w3-button w3-mobile"> Adicionar pessoa </a>
		<a href="listarPessoas.html" class=" w3-bar-item w3-button w3-mobile w3-red"> Listar pessoas </a>
		<a href="contato.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Contato </a>
		<a href="sobre.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Sobre o site </a>
		<a href="noticias.html" class="w3-bar-item w3-button w3-mobile w3-right"> Noticías </a>
	</div>
	<h1 id="lista"> Lista de pessoas </h1>

	<table>
		<tr>
			<td> id </td>
			<td> Nome Completo</td>
			<td> e-Mail </td>
			<td> Data de Nascimento</td>
			<td> Gênero </td>
			<td> Editar </td>
			<td> Remover </td>

		</tr>

		<tr>
			<td> 1 </td>
			<td> Nome da Primeira Pessoa</td>
			<td style="color:#40E0D0;"> primeira@primeira.com </td>
			<td> 10/10/2010</td>
			<td> Não informado</td>
			<td style="color:#40E0D0;"> Editar</td>
			<td style="color:#40E0D0;"> Remover </td>

		</tr>

		<tr>
			<td> 2 </td>
			<td> Nome da Segunda Pessoa</td>
			<td style="color:#40E0D0;"> segunda@segunda.com </td>
			<td> 10/10/2000</td>
			<td> Feminino</td>
			<td style="color:#40E0D0;"> Editar</td>
			<td style="color:#40E0D0;"> Remover </td>

		</tr>

		<tr>
			<td> 3 </td>
			<td> Nome da terceira Pessoa</td>
			<td style="color:#40E0D0;"> terceira@terceira.com </td>
			<td> 11/11/2011</td>
			<td> Masculino</td>
			<td style="color:#40E0D0;"> Editar</td>
			<td style="color:#40E0D0;"> Remover </td>

		</tr>

	</table>


</body>