<!-- O nome desse arquivo está errado -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta codigoSecreto="350771480">
	<title>PWeb - by Arthur Madson</title>
	<link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon" />
	<link th:href="@{/assets/w3.css}" rel="stylesheet" />
	<link th:href="@{/assets/pico.min.css}" rel="stylesheet" />
</head>

<body>
	<div class="w3-bar w3-black w3-xlarge">
		<a href="/" class="w3-bar-item w3-button w3-mobile">Início</a>
		<a href="/adicionarCliente" class="w3-bar-item w3-button">Adicionar cliente</a>
		<a href="/listarClientes" class="w3-bar-item w3-button w3-mobile">Listar clientes</a>
		<a href="/public/noticias.html" class="w3-bar-item w3-button w3-mobile w3-right">Notícias</a>
		<a href="/public/sobre.html" class="w3-bar-item w3-button w3-mobile w3-right">Sobre o site</a>
		<a href="/public/contato.html" class="w3-bar-item w3-button w3-mobile w3-right">Contato</a>
	</div>


	<div style="padding:0 16px;">
		<h1>Formulário para cadastro de clientes:</h1>
		<form method="POST" th:object="${cliente}" th:action="@{/adicionarcliente}">


			<label for="cod"> CODIGO:<input type="text" value="codigo" th:field="*{codigo}" required /> </label>
			<label for="nom"> NOME: <input type="text" value="nome" th:field="*{nome}" required /></label>
			<label for="apelid"> APELIDO: <input type="text" value="apelido" th:field="*{apelido}" required /> </label>
			<label for="enderec"> ENDERECO: <input type="text" value="endereco" th:field="*{endereco}"
					required /></label>
			<label for="bairr"> BAIRRO: <input type="text" value="bairro" th:field="*{bairro}" required /></label>
			<label for="municipi"> MUNICIPIO: <input type="text" value="municipio" th:field="*{municipio}"
					required /></label>
			<label for="telefon"> TELEFONE: <input type="tel" value="telefone"
					th:field="*{telefone} /^+84(7\d|8\d|9\d)\d{9}$/" required /></label>
			<label for="endereco"> ENDERECO: <input type="text" value="endereco" th:field="*{endereco}"
					required /></label>
			<label for="email"> E_EMAIL: <input type="email" value="email" th:field="*{email} pattern="
					/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"" required /></label>
			<label for="cnpj"> CNPJ/CPF: <input type="text" value="cnpj/cpf" th:field="*{cnpj/cpf}" required /></label>
			<label for="cep"> CEP: <input type="text" value="cep" th:field="*{cep}" required /></label>
			<label for="estado"> ESTADO:
				<select id="estado" name="estado">
					<option value="AC">Acre</option>
					<option value="AL">Alagoas</option>
					<option value="AP">Amapá</option>
					<option value="AM">Amazonas</option>
					<option value="BA">Bahia</option>
					<option value="CE">Ceará</option>
					<option value="DF">Distrito Federal</option>
					<option value="ES">Espírito Santo</option>
					<option value="GO">Goiás</option>
					<option value="MA">Maranhão</option>
					<option value="MT">Mato Grosso</option>
					<option value="MS">Mato Grosso do Sul</option>
					<option value="MG">Minas Gerais</option>
					<option value="PA">Pará</option>
					<option value="PB">Paraíba</option>
					<option value="PR">Paraná</option>
					<option value="PE">Pernambuco</option>
					<option value="PI">Piauí</option>
					<option value="RJ">Rio de Janeiro</option>
					<option value="RN">Rio Grande do Norte</option>
					<option value="RS">Rio Grande do Sul</option>
					<option value="RO">Rondônia</option>
					<option value="RR">Roraima</option>
					<option value="SC">Santa Catarina</option>
					<option value="SP">São Paulo</option>
					<option value="SE">Sergipe</option>
					<option value="TO">Tocantins</option>
					<option value="EX">Estrangeiro</option>
				</select>
			</label>
			<label for="celula"> CELULAR: <input type="text" value="celular" th:field="*{celular}" required /></label>
			<label for="grup"> GRUPO: <input type="text" value="grupo" th:field="*{grupo}" required /></label>
			<label for="situaca"> SITUACAO: <input type="text" value="situacao" th:field="*{situcao}"
					required /></label>


			<div class="grid">
				<div><button type="submit">Adicionar!</button></div>
				<div><button type="reset" class="secondary">Limpar</button></div>
			</div>
			<p>* Campo obrigatório</p>
		</form>
	</div>
</body>

</html>