<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Falta mudar para o seu nome-->	
	<!-- Falta o favicon -->
	<!-- Esses links devem ser locais, de arquivos da pasta assets, e não das CDNs -->
	<meta codigoSecreto = "350771480"> 
	<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}">
	<link rel="stylesheet" th:href="@{/assets/w3.css}">
	<link rel="stylesheet" th:href="@{/assets/pico.min.css}">
	<title>PWeb - by Arthur Madson</title>
	
</head>

<body>
    
    <div class="w3-bar w3-black w3-xlarge">          
		<a href="../../templates/index.html"class="w3-bar-item w3-button w3-mobile w3-red"> Início </a>
		<a href="../../templates/adicionarPessoa.html" class=" w3-bar-item w3-button w3-mobile"> Adicionar pessoa </a>
		<a href="../../templates/listarPessoas.html" class=" w3-bar-item w3-button w3-mobile"> Listar pessoas </a>
		<a href="contato.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Contato </a>
		<a href="sobre.html" class=" w3-bar-item w3-button w3-mobile w3-right"> Sobre o site </a>
		<a href="noticias.html" class="w3-bar-item w3-button w3-mobile w3-right"> Noticías </a>
	</div>
	
		<h1> Catálago de sites de notícias em h1 </h1>
		<br>
		<h2> Veja as notícias no g1 </h2>
		<a href="g1.globo.com" target="_blank">g1.globo.com</a>
		<br>
		<br>
		<h2> Veja as notícias no UOL </h2>
		<a href="noticias.uol.com.br" target="_blank">noticias.uol.com.br</a>
		<br>
		<br>
		<h2> Veja as notícias no Google </h2>
		<a href="news.google.com" target="_blank">news.google.com</a>

        
        </body>
</html>
